.homepage {
  background-color: #ffffff;
  height: 1320px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.homepage .footer {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 830px;
  width: 1440px;
}

.homepage .section {
  align-items: center;
  align-self: stretch;
  background-color: var(--off-white-purple);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  padding: 48px 0px;
  position: relative;
  width: 100%;
}

.homepage .container {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  padding: 0px 32px;
  position: relative;
  width: 1280px;
}

.homepage .content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.homepage .div {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  position: relative;
}

.homepage .heading {
  align-self: stretch;
  color: #333461;
  font-family: "Titillium Web", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: -1.00px;
  position: relative;
}

.homepage .supporting-text {
  align-self: stretch;
  color: #4a556c;
  font-family: "Titillium Web", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
}

.homepage .email-capture {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.homepage .input-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 44px;
  position: relative;
  width: 280px;
}

.homepage .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

.homepage .input {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #cfd4dc;
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  overflow: hidden;
  padding: 10px 14px;
  position: relative;
  width: 100%;
}

.homepage .content-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.homepage .text {
  background: transparent;
  border: none;
  color: #4a556c80;
  flex: 1;
  font-family: "Titillium Web", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
}

.homepage .button {
  all: unset;
  align-items: flex-start;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.homepage .button-base {
  align-items: center;
  background-color: var(--brand-color);
  border: 1px solid;
  border-color: var(--brand-color);
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 18px;
  position: relative;
  width: 150px;
}

.homepage .text-wrapper {
  color: var(--white);
  font-family: "Titillium Web", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .container-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0px 48px;
  position: relative;
  width: 100%;
}

.homepage .content-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  padding: 0px 32px;
  position: relative;
  width: 1280px;
}

.homepage .content-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.homepage .p {
  align-self: stretch;
  color: var(--dark-green);
  font-family: "Titillium Web", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  opacity: 0.5;
  position: relative;
}

.homepage .logo-and-supporting {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 320px;
}

.homepage .links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.homepage .footer-links-column {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  position: relative;
  width: 592px;
}

.homepage .heading-2 {
  align-self: stretch;
  color: #333461;
  font-family: "Titillium Web", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
}

.homepage .footer-links {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  margin-bottom: -8.00px;
  position: relative;
  width: 100%;
}

.homepage .footer-link {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.homepage .button-base-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.homepage .flexcontainer-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.homepage .flexcontainer {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.homepage .text-i {
  align-self: stretch;
  color: #4a556c80;
  font-family: "Kumbh Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.homepage .span {
  color: #4a556c80;
  font-family: "Kumbh Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.homepage .overlap-group {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.homepage .rectangle {
  height: 48px;
  width: 48px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 13px;
}

.homepage .navigation {
  background-color: var(--backgrounds-white-ffffff);
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
  display: flex;
  align-items: center;
}

.homepage .group {
  height: 48px;
  left: 69px;
  position: relative;
  width: 170px;
}

.homepage .logo {
  height: 48px;
  width: 48px;
  overflow: hidden;
  position: relative;
}

.homepage .safe-psy {
  color: var(--brand-color);
  font-family: "Kumbh Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 21px;
  left: -33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 7px;
  white-space: nowrap;
  width: 172px;
}

.homepage .text-wrapper-2 {
  color: var(--brand-color);
  font-family: "Titillium Web", Helvetica;
  font-size: 26px;
  font-weight: 600;
  height: 16px;
  left: 119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 16px;
  white-space: nowrap;
  width: 97px;
}

.homepage .overlap {
  height: 606px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 1380px;
}

.homepage .section-wrapper {
  height: 606px;
  left: 0;
  position: absolute;
  top: 0;
  width: 720px;
}

.homepage .div-wrapper {
  align-items: center;
  display: flex;
  gap: 64px;
  height: 606px;
  justify-content: flex-end;
  padding: 128px 0px 96px;
  position: relative;
  width: 720px;
}

.homepage .container-2 {
  align-items: flex-start;
  display: flex;
  margin-bottom: -102.00px;
  margin-top: -102.00px;
  padding: 0px 32px;
  position: relative;
  width: 640px;
}

.homepage .section-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 48px;
  height: 586px;
  justify-content: center;
  padding: 0px 32px 0px 0px;
  position: relative;
}

.homepage .content-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 38px;
  position: relative;
  width: 100%;
}

.homepage .heading-and {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.homepage .heading-and-badge {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.homepage .heading-3 {
  align-self: stretch;
  color: #333461;
  font-family: "Titillium Web", Helvetica;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.96px;
  line-height: 58px;
  margin-top: -1.00px;
  position: relative;
}

.homepage .supporting-text-2 {
  color: #4a556cb2;
  font-family: "Titillium Web", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  width: 480px;
}

.homepage .input-field-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  height: 224px;
  position: relative;
}

.homepage .input-field-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 299px;
}

.homepage .input-field-base {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 299px;
}

.homepage .input-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gray-300);
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  overflow: hidden;
  padding: 12px 14px 12px 16px;
  position: relative;
  width: 100%;
}

.homepage .text-2 {
  background: transparent;
  border: none;
  color: var(--gray-500);
  flex: 1;
  font-family: var(--text-md-normal-font-family);
  font-size: var(--text-md-normal-font-size);
  font-style: var(--text-md-normal-font-style);
  font-weight: var(--text-md-normal-font-weight);
  letter-spacing: var(--text-md-normal-letter-spacing);
  line-height: var(--text-md-normal-line-height);
  margin-top: -1.00px;
  padding: 0;
  position: relative;
}

.homepage .input-with-label {
  align-self: stretch;
  height: 48px;
  position: relative;
  width: 100%;
}

.homepage .input-3 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gray-300);
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
  display: flex;
  gap: 8px;
  overflow: hidden;
  padding: 12px 14px 12px 16px;
  position: relative;
  width: 299px;
}

.homepage .hint-text {
  align-self: stretch;
  color: var(--gray-500);
  font-family: "Titillium Web", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.homepage .text-wrapper-3 {
  color: #667084;
  font-family: "Titillium Web", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.homepage .text-wrapper-4 {
  text-decoration: underline;
}

.homepage .button-base-2 {
  align-items: center;
  background-color: var(--brand-color);
  border: 1px solid;
  border-color: var(--brand-color);
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  width: 299px;
}

.homepage .text-3 {
  color: var(--white);
  font-family: "Titillium Web", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage .content-digital {
  height: 553px;
  left: 664px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 716px;
}

.homepage .img {
  height: 553px;
  left: 2805px;
  object-fit: cover;
  position: absolute;
  top: 2134px;
  width: 716px;
}

.homepage .tagline-section {
  position: absolute;
  top: 750px;
  left: 0;
  right: 0;
  padding: 32px;
  background-color: var(--off-white-purple);
  text-align: center;
}

.homepage .tagline {
  max-width: 1280px;
  margin: 0 auto;
}

.homepage .tagline .p {
  color: var(--dark-green);
  font-family: "Titillium Web", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 38px;
  margin: 0;
  opacity: 0.7;
}
